# Node.js
node_modules/

# Firebase cache files
hosting.*.cache

# Environment files
.env
.env.local

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
